### Initializing Workspace

In [2]:
## Imports
from sqlalchemy import create_engine
import pandas as pd

## Creating Engine
engine = create_engine('sqlite:///sqlite_db_pythonsqlite.db')
con = engine.connect()

### Question 10: 
#### Produce a list of facilities with a total revenue less than 1000. The output of facility name and total revenue, sorted by revenue.

In [3]:
query_10 = """
SELECT f.name, 
	SUM(CASE WHEN b.memid = 0 THEN f.guestcost * slots
		 ELSE f.membercost * slots END) AS revenue
FROM Bookings b 
INNER JOIN Facilities f 
	USING (facid)
GROUP BY f.name
HAVING revenue < 1000
ORDER BY revenue
"""

df_10 = pd.read_sql_query(query_10, con)

print(df_10)

            name  revenue
0   Table Tennis      180
1  Snooker Table      240
2     Pool Table      270

### Question 11:
#### Produce a report of members and who recommended them in alphabetic surname,firstname order

In [4]:
query_11 = """
SELECT CONCAT(m.surname, ', ', m.firstname) AS member_name, CONCAT(m2.surname, ', ', m2.firstname) AS recommender
FROM Members m
INNER JOIN Members m2 
	ON m.recommendedby = m2.memid 
ORDER BY m.surname, m.firstname
"""

df_11 = pd.read_sql_query(query_11, con)

print(df_11)

                 member_name         recommender
0            Bader, Florence    Stibbons, Ponder
1                Baker, Anne    Stibbons, Ponder
2             Baker, Timothy     Farrell, Jemima
3                Boothe, Tim         Rownam, Tim
4            Butters, Gerald       Smith, Darren
5               Coplin, Joan      Baker, Timothy
6             Crumpet, Erica        Smith, Tracy
7                Dare, Nancy    Joplette, Janice
8           Genting, Matthew     Butters, Gerald
9                 Hunt, John  Purview, Millicent
10              Jones, David    Joplette, Janice
11            Jones, Douglas        Jones, David
12          Joplette, Janice       Smith, Darren
13           Mackenzie, Anna       Smith, Darren
14             Owen, Charles       Smith, Darren
15             Pinker, David     Farrell, Jemima
16        Purview, Millicent        Smith, Tracy
17         Rumney, Henrietta    Genting, Matthew
18         Sarwin, Ramnaresh     Bader, Florence
19               Smith, Jack       Smith, Darren
20          Stibbons, Ponder       Tracy, Burton
21  Worthington-Smyth, Henry        Smith, Tracy

### Question 12: 
#### Find the facilities with their usage by member, but not guests

In [5]:
query_12 = """
SELECT CONCAT(m.surname, ', ', m.firstname) AS member_name, f.name AS Facility, SUM(slots) AS slots_used
FROM Bookings b
INNER JOIN Facilities f 
	USING (facid)
INNER JOIN Members m 
	USING (memid)
WHERE memid != 0
GROUP BY f.name, m.surname, m.firstname 
ORDER BY slots_used DESC;
"""

df_12 = pd.read_sql_query(query_12, con)

print(df_12)

         member_name         Facility  slots_used
0      Smith, Darren  Badminton Court         432
1        Rownam, Tim       Pool Table         282
2        Rownam, Tim   Massage Room 1         176
3    Butters, Gerald   Tennis Court 1         171
4        Boothe, Tim   Tennis Court 2         168
..               ...              ...         ...
197      Baker, Anne     Table Tennis           2
198  Butters, Gerald     Table Tennis           2
199       Hunt, John     Table Tennis           2
200  Farrell, Jemima       Pool Table           1
201    Owen, Charles       Pool Table           1

[202 rows x 3 columns]

### Question 13: 
#### Find the facilities usage by month, but not guests

In [6]:
query_13 = """
SELECT STRFTIME('%m', starttime) AS booking_month, f.name AS facility, SUM(slots) AS slots_used
FROM Bookings b
INNER JOIN Facilities f 
	USING (facid)
WHERE memid != 0
GROUP BY f.name, booking_month
ORDER BY slots_used DESC;
"""

df_13 = pd.read_sql_query(query_13, con)

print(df_13)

   booking_month         facility  slots_used
0             09  Badminton Court         507
1             09       Pool Table         443
2             09   Tennis Court 1         417
3             08  Badminton Court         414
4             09   Tennis Court 2         414
5             09    Snooker Table         404
6             09   Massage Room 1         402
7             09     Table Tennis         400
8             08   Tennis Court 2         345
9             08   Tennis Court 1         339
10            08   Massage Room 1         316
11            08    Snooker Table         316
12            08       Pool Table         303
13            08     Table Tennis         296
14            07   Tennis Court 1         201
15            08     Squash Court         184
16            09     Squash Court         184
17            07   Massage Room 1         166
18            07  Badminton Court         165
19            07    Snooker Table         140
20            07   Tennis Court 2         123
21            07       Pool Table         110
22            07     Table Tennis          98
23            07     Squash Court          50
24            09   Massage Room 2          28
25            08   Massage Room 2          18
26            07   Massage Room 2           8